@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

//box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
@mixin box-shadow($x, $y, $blur, $spread, $color) {
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow:    $x $y $blur $spread $color; 
    box-shadow:         $x $y $blur $spread $color; 
}

@mixin placeholder($color) {
    -webkit-input-placeholder: $color;
    -moz-placeholder: $color;
    -ms-input-placeholder: $color;
}

$search-box-width: 620px / 640px * 100%;
$search-box-margin: (20px / 640px * 100%) / 2;
$poster-right-margin: 4.7592%;
$poster-top-margin: $poster-right-margin / 2;
$background: #6fe4d0; /*#142128, #002842*/
$yellow: #fff78f;
$light-blue: #5AB1BB;
$green: #35fea1;


body {
    background: {
        color: $background;
    }
    
    font: {
        family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}

#container {
    width: 100%;
    /*margin-top: 10px;*/
}

#top-box {
    background-color: $background;
    position: fixed;
    height: 65px;
    display: inline-block;
    width: 100%;
    z-index: 999;
}

#search {
    width: $search-box-width;
    position: fixed;
    z-index: 999;
    display: inline-block;
    margin-left: $search-box-margin;
    margin-right: $search-box-margin;
    top: 80px;
    transition-property: top;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

input {
    display: inline-block;
}

input[type="search"]{
    width: 100%;
}

input[placeholder="Search"] {
    @include placeholder($green);
}

.form-control {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid $green;
    height: 40px;
}

.form-control-feedback {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.glyphicon {
    color: $green;
    font-size: 1.2em;
}

p#tagline {
    text-align: center;
    top: 40px;
    position: relative;
    z-index: 11111;
    /*font-family: "rooney-sans", sans-serif;
    font-weight: 700;*/
    font-size: 12px;
    text-transform: uppercase;
    opacity: 1;
    
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

#background {
    position: absolute;
    top: 10px;
    opacity: 0.2;
    fill: #000;
    -webkit-animation: colors 10s linear 0s infinite;
    -moz-animation: colors 10s linear 0s infinite;
    -o-animation: colors 10s linear 0s infinite;
    animation: colors 10s linear 0s infinite; 
}

@-webkit-keyframes colors {
    0% { fill: #000 }
    30% { fill: #666 }
    60% { fill: #aaa }
    90% { fill: #666 }
    100% { fill: #000}
}

@-moz-keyframes colors {
    0% { fill: #000 }
    30% { fill: #666 }
    60% { fill: #aaa }
    90% { fill: #666 }
    100% { fill: #000}
}

@-o-keyframes colors {
    0% { fill: #000 }
    30% { fill: #666 }
    60% { fill: #aaa }
    90% { fill: #666 }
    100% { fill: #000}
}

@keyframes colors {
    0% { fill: #000 }
    30% { fill: #666 }
    60% { fill: #aaa }
    90% { fill: #666 }
    100% { fill: #000}
}

#loader {
    width: 30px;
    position: relative;
    top: 100px;
    margin: auto;
}

#square {
    position: absolute;
    width: 100%;
    display: none;
    
    .edge {
        display: inline-block;
        
        &:nth-child(1){
                position: relative;
                -webkit-animation: top-left 2s linear 0s infinite;
                -moz-animation: top-left 2s linear 0s infinite;
                -o-animation: top-left 2s linear 0s infinite;
                animation: top-left 2s linear 0s infinite;  
        }
        
        &:nth-child(2){
                position: relative;
                -webkit-animation: top-right 2s linear 0s infinite;
                -moz-animation: top-right 2s linear 0s infinite;
                -o-animation: top-right 2s linear 0s infinite;
                animation: top-right 2s linear 0s infinite;  
        }
        
        &:nth-child(3){
                position: relative;
                -webkit-animation: bottom-left 2s linear 0s infinite;
                -moz-animation: bottom-left 2s linear 0s infinite;
                -o-animation: bottom-left 2s linear 0s infinite;
                animation: bottom-left 2s linear 0s infinite;  
        }
        
        &:nth-child(4){
                position: relative;
                -webkit-animation: bottom-right 2s linear 0s infinite;
                -moz-animation: bottom-right 2s linear 0s infinite;
                -o-animation: bottom-right 2s linear 0s infinite;
                animation: bottom-right 2s linear 0s infinite;  
        }
        
        /*img {
            width: 150%;
        }*/
    }
}

@-webkit-keyframes top-left {
    0% { top:0px; left:0px }
    90% { top:-10px; left:-10px }
    99% { top:-10px; left:-10px }
    100% { top:0px; left:0px }
}

@-moz-keyframes top-left {
    0% { top:0px; left:0px }
    90% {top:-10px; left:-10px}
    99% {top:-10px; left:-10px}
    100% {top:0px; left:0px }
}

@-o-keyframes top-left {
    0% { top:0px; left:0px }
    90% {top:-10px; left:-10px}
    99% {top:-10px; left:-10px}
    100% {top:0px; left:0px }
}

@keyframes top-left {
    0% { top:0px; left:0px }
    90% {top:-10px; left:-10px}
    99% {top:-10px; left:-10px}
    100% {top:0px; left:0px }
}

 @-webkit-keyframes top-right {
    0% { top:0px; left:0px }
    /*20% { top:0px; left:0px }*/
    90% {top:-10px; left:10px}
    99% {top:-10px; left:10px}
    100% {top:0px; left:0px }
}
@-moz-keyframes top-right {
    0% { top:0px; left:0px }
    /*20% { top:0px; left:0px }*/
    90% {top:-10px; left:10px}
    99% {top:-10px; left:10px}
    100% { top:-10px; left:10px }  }
@-o-keyframes top-right {
    0% { top:0px; left:0px }
    /*20% { top:0px; left:0px }*/
    90% {top:-10px; left:10px}
    99% {top:-10px; left:10px}
    100% {top:0px; left:0px }
}
@keyframes top-right {
    0% { top:0px; left:0px }
    /*20% { top:0px; left:0px }*/
    90% {top:-10px; left:10px}
    99% {top:-10px; left:10px}
    100% {top:0px; left:0px }
}

 @-webkit-keyframes bottom-left {
    0% { top:0px; left:0px }
    /*60% { top:0px; left:0px }*/
    90% {top:10px; left:-10px}
    99% {top:10px; left:-10px}
    100% {top:0px; left:0px }
}
@-moz-keyframes bottom-left {
    0% { top:0px; left:0px }
    /*60% { top:0px; left:0px }*/
    90% {top:10px; left:-10px}
    99% {top:10px; left:-10px}
    100% {top:0px; left:0px }
}
@-o-keyframes bottom-left {
    0% { top:0px; left:0px }
    /*60% { top:0px; left:0px }*/
    90% {top:10px; left:-10px}
    99% {top:10px; left:-10px}
    100% {top:0px; left:0px }
}
@keyframes bottom-left {
    0% { top:0px; left:0px }
    /*60% { top:0px; left:0px }*/
    90% {top:10px; left:-10px}
    99% {top:10px; left:-10px}
    100% {top:0px; left:0px }
}

 @-webkit-keyframes bottom-right {
    0% { top:0px; left:0px }
    /*40% { top:0px; left:0px }*/
    90% {top:10px; left:10px}
    99% {top:10px; left:10px}
    100% { top:0px; left:0px }
}
@-moz-keyframes bottom-right {
    0% { top:0px; left:0px }
    /*40% { top:0px; left:0px }*/
    90% {top:10px; left:10px}
    99% {top:10px; left:10px}
    100% { top:0px; left:0px }
}
@-o-keyframes bottom-right {
    0% { top:0px; left:0px }
    /*40% { top:0px; left:0px }*/
    90% {top:10px; left:10px}
    99% {top:10px; left:10px}
    100% { top:0px; left:0px }
}
@keyframes bottom-right {
    0% { top:0px; left:0px }
    /*40% { top:0px; left:0px }*/
    90% {top:10px; left:10px}
    99% {top:10px; left:10px}
    100% { top:0px; left:0px }
}

#list {
    background: {
        color: white;
    }    
    font: {
        family: sans-serif;
        size: 14px;
    }
    color: #242424;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    @include border-radius(0 0 4px 4px);
    position: relative;
    top: 0;
    border-left: 1px solid $green;
    border-right: 1px solid $green;

    li {
        padding: 10px 0;
        border-bottom: 1px solid $green;
        cursor: pointer;
    }
    
    li:last-child {
        border-bottom: none; 
    }
    
    p {
        display: inline;
        width: 100%;
        padding-left: 10px;
    }
    
    p::after {
        content: ">";
        float: right;
        position: relative;
        left: -10px;
    }
    
    span {
        display: inline;
        
        &::before {
            content: '(';
            padding-left: 10px;
        }
        
         &::after {
            content: ')';
        }
    }
    
}

#display-results, #display-works {
    position: relative;
    top: 80px;
    display: inline-block;
    z-index: 900;
    
    width: $search-box-width;
    margin-left: $search-box-margin;
    margin-right: $search-box-margin;
   
    @include border-radius(4px);
    background-color: #fff;
    
    .main:first-child {
        border-top: 1px solid #48de9f;
    }
    
    .main {
        width: 100%;
        display: inline-block;
        padding: 2px;
        border-bottom: 1px solid $background;
        border-width: thin;
            
        .profile-pic {
            width: 80px;
            height: 80px;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
            margin: 2px;
            @include border-radius(2px);
        }
        
        p {
            display: inline-block;
            font: {
                size: 14px;
                family: 'Roboto Condensed', sans-serif;
                weight: 300;
            }
            
            color: #242424;
            vertical-align: middle;
            
            span {
                display: block;
                margin-top: 10px;
            }
                
            .character {
                font-style: oblique;
            }
        }
    }
    
    img {
        max-width: 100%;
        display: inline;
        margin-top: -5px;
    }
    
    .works:nth-child(3n) {
        margin-right: 0;
    }
    
    .works {
        float: left;
        display: inline-block;
        vertical-align: top;
        /*margin-right: 1.182795698925%;*/
        margin: inherit;
        margin-right: 2.3796%;
        margin-top: 2.3796%;
        height: 138px;
        
        div {
            width: 92px;
            height: 138px;
            background-color: #fff;
            display: block;
            
            p.movie-info {
                display: none;
            }
        }
        
        div.null-mov {
            p {
                display: inline-block;
                color: $background;
                text-align: center;
                vertical-align: middle;
                position: relative;
                top: 40px;
                width: 100%;
            }
        }

        span.release-date {
            font-size: 12px;
            text-align: center;
            color: #000;
            background: #fff;
            width: 40%;
            position: relative;
            top: -30px;
            height: 20px;
            left: 10px;
            padding: 3px;
        }
    }
}

footer {
    display: inline-block;
    position: absolute;
    top: 330px;
    width: 100%;
}

.logo {
    max-width: 60%;
    display: block;
    position: relative;
    margin: 0 20%;
}
      
.null-act {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../../images/missing-actress.svg');
}

.null-mov {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../../images/missing-movie.svg');
}



