@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

//box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
@mixin box-shadow($x, $y, $blur, $spread, $color) {
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow:    $x $y $blur $spread $color; 
    box-shadow:         $x $y $blur $spread $color; 
}

$search-box-width: 610px / 640px * 100%;
$dark-blue: #021e2f; /*#142128, #002842*/
$light-blue: #5AB1BB;
$green: #48de9f;


body {
    background: {
        color: $dark-blue;
    }
    
    font: {
        family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}

/*.actor-list {
    background: {
        color: $green;
    }
}*/

#container {
    width: 100%;
}

#search {
    width: $search-box-width;
    margin: 10px;
}

input {
    display: inline-block;
}

input[type="search"]{
    width: 100%;
}

.form-control-feedback {
    margin: 10px;
}

.glyphicon {
    color: $green;
}

#list {
    background: {
        color: $green;
    }    
    font: {
        family: sans-serif;
        size: 14px;
    }
    color: $dark-blue;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    @include border-radius(0 0 5px 5px);
    position: relative;
    top: -2px;

    li {
        padding: 10px 0;
        border-bottom: 1px solid #fff;
        cursor: pointer;
    }
    
    li:last-child {
        border-bottom: none; 
    }
    
    p {
        display: inline-block;
        width: 100%;
        padding-left: 10px;
    }
    
    p::after {
        content: ">";
        float: right;
        position: relative;
        left: -10px;
        }
    }

#display-results, #display-works {
    width: $search-box-width;
    margin: 10px;
    
    .main {
        width: 100%;
        display: inline-block;
        @include border-radius(1px);
        margin-bottom: 5px;
        /*background-color: #92DFC2;
        background-color: #A2E3C4;*/
        background-color: $green;
        /*@include box-shadow(0, 10px, 6px, -6px, #777);*/
    
        .profile-pic {
            width: 50px;
            height: 50px;
            /*height: 73px;*/
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
            margin: 2px;
            @include border-radius(1px);
        }
        
        p {
            display: inline-block;
            font: {
                size: 14px;
            }
            
            color: $dark-blue;

            span {
                display: inline;
            }
                
            .character {
                font-style: oblique;
            }
        }
    }
    
    img {
        max-width: 100%;
        display: inline;
        margin-top: -5px;
    }
    
    
}



