/*#142128, #002842*/
body {
  background-color: #6fe4d0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#container {
  width: 100%;
  /*margin-top: 10px;*/
}

#top-box {
  background-color: #6fe4d0;
  position: fixed;
  height: 65px;
  display: inline-block;
  width: 100%;
  z-index: 999;
}

#search {
  width: 96.875%;
  position: fixed;
  z-index: 999;
  display: inline-block;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  top: 80px;
  transition-property: top;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

input {
  display: inline-block;
}

input[type="search"] {
  width: 100%;
}

input[placeholder="Search"] {
  -webkit-input-placeholder: #35fea1;
  -moz-placeholder: #35fea1;
  -ms-input-placeholder: #35fea1;
}

.form-control {
  background-color: white;
  border: 1px solid #35fea1;
  height: 40px;
}

.form-control-feedback {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.glyphicon {
  color: #35fea1;
  font-size: 1.2em;
}

p#tagline {
  text-align: center;
  top: 40px;
  position: relative;
  z-index: 11111;
  /*font-family: "rooney-sans", sans-serif;
  font-weight: 700;*/
  font-size: 12px;
  text-transform: uppercase;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

#background {
  position: absolute;
  top: 10px;
  opacity: 0.2;
  fill: #000;
  -webkit-animation: colors 10s linear 0s infinite;
  -moz-animation: colors 10s linear 0s infinite;
  -o-animation: colors 10s linear 0s infinite;
  animation: colors 10s linear 0s infinite;
}

@-webkit-keyframes colors {
  0% {
    fill: #000;
  }
  30% {
    fill: #666;
  }
  60% {
    fill: #aaa;
  }
  90% {
    fill: #666;
  }
  100% {
    fill: #000;
  }
}
@-moz-keyframes colors {
  0% {
    fill: #000;
  }
  30% {
    fill: #666;
  }
  60% {
    fill: #aaa;
  }
  90% {
    fill: #666;
  }
  100% {
    fill: #000;
  }
}
@-o-keyframes colors {
  0% {
    fill: #000;
  }
  30% {
    fill: #666;
  }
  60% {
    fill: #aaa;
  }
  90% {
    fill: #666;
  }
  100% {
    fill: #000;
  }
}
@keyframes colors {
  0% {
    fill: #000;
  }
  30% {
    fill: #666;
  }
  60% {
    fill: #aaa;
  }
  90% {
    fill: #666;
  }
  100% {
    fill: #000;
  }
}
#loader {
  width: 30px;
  position: relative;
  top: 100px;
  margin: auto;
}

#square {
  position: absolute;
  width: 100%;
  display: none;
}
#square .edge {
  display: inline-block;
  /*img {
      width: 150%;
  }*/
}
#square .edge:nth-child(1) {
  position: relative;
  -webkit-animation: top-left 2s linear 0s infinite;
  -moz-animation: top-left 2s linear 0s infinite;
  -o-animation: top-left 2s linear 0s infinite;
  animation: top-left 2s linear 0s infinite;
}
#square .edge:nth-child(2) {
  position: relative;
  -webkit-animation: top-right 2s linear 0s infinite;
  -moz-animation: top-right 2s linear 0s infinite;
  -o-animation: top-right 2s linear 0s infinite;
  animation: top-right 2s linear 0s infinite;
}
#square .edge:nth-child(3) {
  position: relative;
  -webkit-animation: bottom-left 2s linear 0s infinite;
  -moz-animation: bottom-left 2s linear 0s infinite;
  -o-animation: bottom-left 2s linear 0s infinite;
  animation: bottom-left 2s linear 0s infinite;
}
#square .edge:nth-child(4) {
  position: relative;
  -webkit-animation: bottom-right 2s linear 0s infinite;
  -moz-animation: bottom-right 2s linear 0s infinite;
  -o-animation: bottom-right 2s linear 0s infinite;
  animation: bottom-right 2s linear 0s infinite;
}

@-webkit-keyframes top-left {
  0% {
    top: 0px;
    left: 0px;
  }
  90% {
    top: -10px;
    left: -10px;
  }
  99% {
    top: -10px;
    left: -10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@-moz-keyframes top-left {
  0% {
    top: 0px;
    left: 0px;
  }
  90% {
    top: -10px;
    left: -10px;
  }
  99% {
    top: -10px;
    left: -10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@-o-keyframes top-left {
  0% {
    top: 0px;
    left: 0px;
  }
  90% {
    top: -10px;
    left: -10px;
  }
  99% {
    top: -10px;
    left: -10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes top-left {
  0% {
    top: 0px;
    left: 0px;
  }
  90% {
    top: -10px;
    left: -10px;
  }
  99% {
    top: -10px;
    left: -10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@-webkit-keyframes top-right {
  0% {
    top: 0px;
    left: 0px;
  }
  /*20% { top:0px; left:0px }*/
  90% {
    top: -10px;
    left: 10px;
  }
  99% {
    top: -10px;
    left: 10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@-moz-keyframes top-right {
  0% {
    top: 0px;
    left: 0px;
  }
  /*20% { top:0px; left:0px }*/
  90% {
    top: -10px;
    left: 10px;
  }
  99% {
    top: -10px;
    left: 10px;
  }
  100% {
    top: -10px;
    left: 10px;
  }
}
@-o-keyframes top-right {
  0% {
    top: 0px;
    left: 0px;
  }
  /*20% { top:0px; left:0px }*/
  90% {
    top: -10px;
    left: 10px;
  }
  99% {
    top: -10px;
    left: 10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes top-right {
  0% {
    top: 0px;
    left: 0px;
  }
  /*20% { top:0px; left:0px }*/
  90% {
    top: -10px;
    left: 10px;
  }
  99% {
    top: -10px;
    left: 10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@-webkit-keyframes bottom-left {
  0% {
    top: 0px;
    left: 0px;
  }
  /*60% { top:0px; left:0px }*/
  90% {
    top: 10px;
    left: -10px;
  }
  99% {
    top: 10px;
    left: -10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@-moz-keyframes bottom-left {
  0% {
    top: 0px;
    left: 0px;
  }
  /*60% { top:0px; left:0px }*/
  90% {
    top: 10px;
    left: -10px;
  }
  99% {
    top: 10px;
    left: -10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@-o-keyframes bottom-left {
  0% {
    top: 0px;
    left: 0px;
  }
  /*60% { top:0px; left:0px }*/
  90% {
    top: 10px;
    left: -10px;
  }
  99% {
    top: 10px;
    left: -10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes bottom-left {
  0% {
    top: 0px;
    left: 0px;
  }
  /*60% { top:0px; left:0px }*/
  90% {
    top: 10px;
    left: -10px;
  }
  99% {
    top: 10px;
    left: -10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@-webkit-keyframes bottom-right {
  0% {
    top: 0px;
    left: 0px;
  }
  /*40% { top:0px; left:0px }*/
  90% {
    top: 10px;
    left: 10px;
  }
  99% {
    top: 10px;
    left: 10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@-moz-keyframes bottom-right {
  0% {
    top: 0px;
    left: 0px;
  }
  /*40% { top:0px; left:0px }*/
  90% {
    top: 10px;
    left: 10px;
  }
  99% {
    top: 10px;
    left: 10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@-o-keyframes bottom-right {
  0% {
    top: 0px;
    left: 0px;
  }
  /*40% { top:0px; left:0px }*/
  90% {
    top: 10px;
    left: 10px;
  }
  99% {
    top: 10px;
    left: 10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes bottom-right {
  0% {
    top: 0px;
    left: 0px;
  }
  /*40% { top:0px; left:0px }*/
  90% {
    top: 10px;
    left: 10px;
  }
  99% {
    top: 10px;
    left: 10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
#list {
  background-color: white;
  font-family: sans-serif;
  font-size: 14px;
  color: #242424;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  position: relative;
  top: 0;
  border-left: 1px solid #35fea1;
  border-right: 1px solid #35fea1;
}
#list li {
  padding: 10px 0;
  border-bottom: 1px solid #35fea1;
  cursor: pointer;
}
#list li:last-child {
  border-bottom: none;
}
#list p {
  display: inline;
  width: 100%;
  padding-left: 10px;
}
#list p::after {
  content: ">";
  float: right;
  position: relative;
  left: -10px;
}
#list span {
  display: inline;
}
#list span::before {
  content: '(';
  padding-left: 10px;
}
#list span::after {
  content: ')';
}

#display-results, #display-works {
  position: relative;
  top: 80px;
  display: inline-block;
  z-index: 900;
  width: 96.875%;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
}
#display-results .main:first-child, #display-works .main:first-child {
  border-top: 1px solid #48de9f;
}
#display-results .main, #display-works .main {
  width: 100%;
  display: inline-block;
  padding: 2px;
  border-bottom: 1px solid #6fe4d0;
  border-width: thin;
}
#display-results .main .profile-pic, #display-works .main .profile-pic {
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
#display-results .main p, #display-works .main p {
  display: inline-block;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: #242424;
  vertical-align: middle;
}
#display-results .main p span, #display-works .main p span {
  display: block;
  margin-top: 10px;
}
#display-results .main p .character, #display-works .main p .character {
  font-style: oblique;
}
#display-results img, #display-works img {
  max-width: 100%;
  display: inline;
  margin-top: -5px;
}
#display-results .works:nth-child(3n), #display-works .works:nth-child(3n) {
  margin-right: 0;
}
#display-results .works, #display-works .works {
  float: left;
  display: inline-block;
  vertical-align: top;
  /*margin-right: 1.182795698925%;*/
  margin: inherit;
  margin-right: 2.3796%;
  margin-top: 2.3796%;
  height: 138px;
}
#display-results .works div, #display-works .works div {
  width: 92px;
  height: 138px;
  background-color: #fff;
  display: block;
}
#display-results .works div p.movie-info, #display-works .works div p.movie-info {
  display: none;
}
#display-results .works div.null-mov p, #display-works .works div.null-mov p {
  display: inline-block;
  color: #6fe4d0;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 40px;
  width: 100%;
}
#display-results .works span.release-date, #display-works .works span.release-date {
  font-size: 12px;
  text-align: center;
  color: #000;
  background: #fff;
  width: 40%;
  position: relative;
  top: -30px;
  height: 20px;
  left: 10px;
  padding: 3px;
}

footer {
  display: inline-block;
  position: absolute;
  top: 330px;
  width: 100%;
}

.logo {
  max-width: 60%;
  display: block;
  position: relative;
  margin: 0 20%;
}

.null-act {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../../images/missing-actress.svg");
}

.null-mov {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../../images/missing-movie.svg");
}

/*# sourceMappingURL=main.css.map */
