@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$search-box-width: 610px / 640px * 100%;
$dark-blue: #002842;
$green: #55be96;

body {
    background: {
        color: $dark-blue;
    }
}

#container {
    width: 100%;
}

#search {
    width: $search-box-width;
    margin: 10px;
    font-family: sans-serif;
}

input {
    display: inline-block;
}

input[type="search"]{
    width: 100%;
}

.form-control-feedback {
    margin: 10px;
}

.glyphicon {
    color: $green;
}

#list {
    background: {
        color: $green;
    }    
    font: {
        family: sans-serif;
        size: 14px;
    }
    color: $dark-blue;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    @include border-radius(0 0 5px 5px);
    position: relative;
    top: -2px;

    li {
        padding: 10px 0;
        border-bottom: 1px solid #fff;
        cursor: pointer;
    }
    
    p {
        display: inline-block;
        width: 100%;
        padding-left: 10px;
    }
    
    p::after {
        content: ">";
        float: right;
        position: relative;
        left: -10px;
        }
    }

#display-results {
    div {
        width: 45%;
    }
    
    img {
        @include border-radius(20px);
        max-width: 100%;
    }
    
    p {
        width: 100%;
    }
}



